{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 120,
  "trailingComma": "none"
}
